.line {
  height: 10px;
  width: 0;
  border-right: solid 2px #EEEEEE; }

.rota1 {
  transform: rotate(90deg);
  transition: all 1s; }

.rota2 {
  transform: rotate(0deg);
  transition: all 1s; }

.changebg {
  background: url(../img/icons.png) -503px -418px; }

.clear, #ad #sad ul:after, .stairs .s_stairs:after, .stairs .s_stairs .s_stairsMain:after, #mask #smask #shopshow #shops_body #addsuc:after, #mask #smask #shopshow #shops_body #addsuc_footer:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

.current_ban {
  background: #64A131; }

#banner {
  width: 100%;
  background: skyblue; }
  #banner #sbanner {
    margin: 0 auto;
    background: orange;
    width: 1263px;
    height: 400px;
    position: relative;
    overflow: hidden; }
    #banner #sbanner ul {
      position: absolute;
      overflow: hidden;
      width: 5120px; }
      #banner #sbanner ul li {
        float: left;
        overflow: hidden; }
        #banner #sbanner ul li > a {
          display: block;
          height: 400px;
          width: 1263px; }
        #banner #sbanner ul li .b1 {
          background: url(../img/43275e1668db47ac8059c8d390943f56.jpg) center no-repeat; }
        #banner #sbanner ul li .b2 {
          background: url(../img/560c5561e0e3d21ad8f8688e3e6337ec.jpg) center no-repeat; }
        #banner #sbanner ul li .b3 {
          background: url(../img/4fbf1243557a9d8679cd96136f0d4358.jpg) center no-repeat; }
        #banner #sbanner ul li .b4 {
          background: url(../img/43275e1668db47ac8059c8d390943f56.jpg) center no-repeat; }
    #banner #sbanner ol {
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 20px;
      margin-bottom: 0;
      left: 0;
      padding-left: 0;
      text-align: center;
      z-index: 20; }
      #banner #sbanner ol li {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background: rgba(100, 161, 49, 0.1);
        border: 1px solid #64A131;
        margin: 0 8px;
        cursor: pointer;
        display: inline-block;
        z-index: 200; }
        #banner #sbanner ol li#fir_banoli {
          background: #64a131; }

#ad {
  width: 100%;
  background: white;
  padding-top: 10px;
  padding-bottom: 50px; }
  #ad #sad {
    width: 1260px;
    margin: 0 auto; }
    #ad #sad ul li {
      margin-right: 20px;
      float: left; }
      #ad #sad ul li a {
        display: block;
        width: 300px;
        height: 140px; }
      #ad #sad ul li.last_sadli {
        margin-right: 0; }

.stairs {
  width: 100%;
  background: white; }
  .stairs .s_stairs {
    width: 1260px;
    margin: 0 auto; }
    .stairs .s_stairs .s_stairsHead {
      padding: 15px 0 10px;
      overflow: hidden;
      border-top: 1px solid #ccc; }
      .stairs .s_stairs .s_stairsHead img {
        float: left; }
      .stairs .s_stairs .s_stairsHead a {
        display: block;
        font-size: 14px;
        line-height: 42px;
        float: right;
        color: #333; }
        .stairs .s_stairs .s_stairsHead a:hover {
          text-decoration: underline; }
    .stairs .s_stairs .s_stairsMain {
      width: 100%; }
      .stairs .s_stairs .s_stairsMain .s_stairs_Box {
        float: left;
        width: 242px;
        height: 305px;
        margin: 0 5px 5px; }
        .stairs .s_stairs .s_stairsMain .s_stairs_Box .img_a {
          display: block;
          margin-bottom: 5px;
          position: relative;
          width: 238px;
          height: 238px;
          overflow: hidden; }
          .stairs .s_stairs .s_stairsMain .s_stairs_Box .img_a .discount {
            background: #FF5353;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 14px;
            padding: 6px 5px;
            color: #FFFFFF;
            display: none; }
          .stairs .s_stairs .s_stairsMain .s_stairs_Box .img_a img {
            transition: all 0.5s; }
          .stairs .s_stairs .s_stairsMain .s_stairs_Box .img_a:hover img {
            transform: scale(1.1); }
        .stairs .s_stairs .s_stairsMain .s_stairs_Box .pro_intro {
          color: #555;
          display: block;
          float: left;
          padding-left: 2px;
          width: 180px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .stairs .s_stairs .s_stairsMain .s_stairs_Box .price {
          display: block;
          float: left;
          margin-left: 5px;
          color: #999999;
          width: 180px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .stairs .s_stairs .s_stairsMain .s_stairs_Box .buythis {
          width: 34px;
          height: 34px;
          display: block;
          float: right;
          background: url(../img/icons.png) no-repeat -517px -243px;
          margin-top: 10px;
          cursor: pointer; }

#mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 350; }
  #mask #smask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 520px;
    height: 285px;
    background: rgba(0, 0, 0, 0.2); }
    #mask #smask #shopshow {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 510px;
      height: 275px;
      background: skyblue;
      overflow: hidden; }
      #mask #smask #shopshow #shops_head {
        height: 40px;
        padding-right: 17px;
        background-color: #eaeaea; }
        #mask #smask #shopshow #shops_head #close {
          height: 24px;
          width: 25px;
          float: right;
          background: url(../img/cha.png) no-repeat center;
          margin-top: 10px;
          cursor: pointer; }
      #mask #smask #shopshow #shops_body {
        background: #FFFFFF;
        padding: 28px 90px 25px; }
        #mask #smask #shopshow #shops_body #addsuc {
          margin-bottom: 22px; }
          #mask #smask #shopshow #shops_body #addsuc #add_img {
            background: url(../img/icons.png) no-repeat -8px -247px;
            height: 68px;
            width: 60px;
            float: left; }
          #mask #smask #shopshow #shops_body #addsuc > p {
            font-size: 30px;
            margin: 13px 0;
            color: #555;
            padding-left: 20px;
            float: right; }
        #mask #smask #shopshow #shops_body #shop_sum {
          font-size: 18px;
          color: #999;
          white-space: nowrap;
          padding-left: 4px;
          text-align: center; }
          #mask #smask #shopshow #shops_body #shop_sum .shop_car_color {
            color: #f6ab00; }
        #mask #smask #shopshow #shops_body #addsuc_footer {
          padding-top: 28px; }
          #mask #smask #shopshow #shops_body #addsuc_footer #continue {
            color: #64a131;
            background: #f5ffed;
            border: 1px solid #64a131;
            cursor: pointer;
            float: left;
            margin-left: 5px;
            width: 147px;
            height: 40px;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            border-radius: 4px; }
          #mask #smask #shopshow #shops_body #addsuc_footer #check_out {
            color: #eff4ec;
            background: #64a131;
            border: 1px solid #64a131;
            border-color: #64a131;
            cursor: pointer;
            float: right;
            margin-right: 5px;
            width: 147px;
            height: 40px;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            border-radius: 4px; }

#louti {
  position: fixed;
  left: -32px;
  top: 50%;
  background: white;
  border: 1px solid black; }
  #louti li {
    border-bottom: 1px dashed black;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    cursor: pointer; }
    #louti li:hover {
      color: white;
      background: saddlebrown;
      border-color: white; }
      #louti li:hover > .louti_s1 {
        transform: rotateY(3600deg);
        color: white; }
      #louti li:hover > .louti_s2 {
        transform: translate(112px);
        color: white; }
    #louti li > span {
      position: absolute;
      white-space: nowrap;
      top: 0;
      transition: all 1s; }
    #louti li > .louti_s1 {
      left: 0;
      transition: all 1s;
      text-align: center;
      width: 100%; }
    #louti li > .louti_s2 {
      right: 30px;
      display: block;
      background: sienna; }
    #louti li.last_louti {
      border-bottom: none; }

/*# sourceMappingURL=index.css.map */
