
.line{
    height:10px;
    width:0;
    border-right:solid 2px #EEEEEE;
}
.rota1{               
    transform: rotate(90deg);
    transition: all 1s;
}
.rota2{               
    transform: rotate(0deg);
    transition: all 1s;
}
.changebg{
    background: url(../img/icons.png) -503px -418px;
}
$h_header:30px;
$color_green:#64A131;
.clear{
    content:".";
    display: block;
    height:0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
.current_ban{
    background: $color_green;
}

//头部，最上边那一小条
//头部


//轮播图
#banner{
    width: 100%;
    background: skyblue;
    #sbanner{
        margin: 0 auto;
        background: orange;
        
        width: 1263px;
        height:400px;
        position: relative;
        overflow: hidden;
        ul{
            position: absolute;
            overflow: hidden;
            width: 5120px;
            li{
                float: left;
             overflow: hidden;
                &>a{
                    display: block;
                    height: 400px;
                    width: 1263px;
                }
               .b1{
                   background: url(../img/43275e1668db47ac8059c8d390943f56.jpg) center no-repeat;
               }
               .b2{
                   background: url(../img/560c5561e0e3d21ad8f8688e3e6337ec.jpg) center no-repeat;
               }
               .b3{
                   background: url(../img/4fbf1243557a9d8679cd96136f0d4358.jpg) center no-repeat;
               }
               .b4{
                   background: url(../img/43275e1668db47ac8059c8d390943f56.jpg) center no-repeat;
               }
                
            }
        }
        ol{
            position: absolute;
            width: 100%;
            height: 20px;
            bottom: 20px;
            margin-bottom: 0;
            left: 0;
            padding-left: 0;
            text-align: center;
            z-index: 20;
            li{
                width: 18px;
                height: 18px;
                border-radius:100% ;
                background: rgba(100,161,49,0.1);
                border: 1px solid $color_green;
                margin:0 8px;
                cursor: pointer;
                display: inline-block;
                z-index: 200;
                &#fir_banoli{
                    background: rgba(100,161,49,1);
                }
            }
        }
    }
}
//广告
#ad{
    width: 100%;
    background: white;
    padding-top: 10px;
    padding-bottom: 50px;
    #sad{
        width: 1260px;
        margin: 0 auto;
        ul{
            &:after{
                @extend .clear
            }
            li{
                margin-right: 20px;
                float: left;
                a{
                    display: block;
                    width: 300px;
                    height: 140px;
                }
                &.last_sadli{
                    margin-right: 0;
                }
            }
        }
    }
}
//楼梯图
.stairs{
    width: 100%;
    background: white;
    .s_stairs{
        width: 1260px;
        margin: 0 auto;
        &:after{
            @extend .clear
        }
        .s_stairsHead{
            padding: 15px 0 10px;
            overflow: hidden;
            border-top: 1px solid #ccc;
            img{
                float: left;
            }
            a{
                display: block;
                font-size: 14px;
                line-height: 42px;
                float: right;
                color: #333;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .s_stairsMain{
            width: 100%;
                &:after{
                    @extend .clear
            }
            .s_stairs_Box{
                float: left;
                width: 242px;
                height: 305px;
                margin: 0 5px 5px;
                .img_a{
                    display: block;
                    margin-bottom: 5px;
                    position: relative;
                    width: 238px;
                    height: 238px;
                    overflow: hidden;
                    
                    .discount{
                        background: #FF5353;
                        position: absolute;
                        top:0;
                        left: 0;
                        font-size: 14px;
                        padding: 6px 5px;
                        color: #FFFFFF;
                        display:none;
                    }
                    img{
                        transition: all 0.5s;
                    }
                    &:hover{
                        img{
                            
                            transform: scale(1.1);
                            
                        }
                    }
                }
                .pro_intro{
                    color: #555;
                    display: block;
                    float: left;
                    padding-left: 2px;
                    width: 180px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .price{
                    display: block;
                    float:left;
                    margin-left: 5px;
                    color: #999999;
                    width: 180px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .buythis{
                    width: 34px;
                    height: 34px;
                    display: block;
                    float: right;
                    background: url(../img/icons.png) no-repeat -517px -243px;
                    margin-top:10px;
                    cursor: pointer;
                }
            }
        }
    }
}
//购物车里边的全图遮罩层
#mask{
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,0.5) ;
    display: none;
    position: fixed;
    left: 0;
    top:0;
    z-index: 350;
    #smask{
        position: fixed;
        left:0;
        right: 0;
        top:0;
        bottom: 0;
        margin: auto;
        width: 520px;
        height: 285px;
        background: rgba(0,0,0,0.2);
        #shopshow{
            position: fixed;
            left:0;
            right: 0;
            top:0;
            bottom: 0;
            margin: auto;
            width: 510px;
            height: 275px;
            background: skyblue;
            overflow: hidden;
            #shops_head{
                height: 40px;
                padding-right: 17px;
                background-color: #eaeaea;
                #close{
                    height:24px ;
                    width:25px ;
                    float: right;
                    background:url(../img/cha.png) no-repeat center;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
            #shops_body{
                background: #FFFFFF;
                padding: 28px 90px 25px;;
                #addsuc{
                    margin-bottom:22px;
                    &:after{
                        @extend .clear
                    }
                    #add_img{
                        background: url(../img/icons.png) no-repeat -8px -247px;
                        height: 68px;
                        width: 60px;
                        float: left;
                    }
                    &>p{
                        font-size: 30px;
                        margin: 13px 0;
                        color: #555;
                        padding-left: 20px;
                        float: right;
                    }
                }
                #shop_sum{
                    font-size: 18px;
                    color: #999;
                    white-space: nowrap;
                    padding-left: 4px;
                    text-align: center;
                    
                    
                    
                    .shop_car_color{
                            color: #f6ab00;
                        }
                }
                #addsuc_footer{
                    &:after{
                        @extend .clear
                    }
                    padding-top:28px;
                    #continue{
                        color: #64a131;
                        background: #f5ffed;
                        border: 1px solid #64a131;
                        cursor: pointer;
                        float: left;
                        margin-left: 5px;
                        width: 147px;
                        height: 40px;
                        font-size: 16px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 4px;
                    }
                    #check_out{
                        color: rgb(239, 244, 236);
                        background: rgb(100, 161, 49);
                        border: 1px solid #64a131;
                        border-color: rgb(100, 161, 49);
                        cursor: pointer;
                        float: right;
                        margin-right: 5px;
                        width: 147px;
                        height: 40px;
                        font-size: 16px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}
//侧边栏楼梯
#louti{
    position: fixed;
    left: -32px;
    //left: 0;
    top:50%;
    background: white;
    
    border: 1px solid black;
    li{
        border-bottom: 1px dashed black;
        text-align: center;
        height: 30px;
        width: 30px;
        font-size: 20px;
        line-height: 30px;
        position: relative;
        cursor: pointer;
        
        &:hover{
            color: white;
            background: saddlebrown;
            border-color: white;
            &>.louti_s1{
                transform: rotateY(3600deg);
                color: white;
            }
            &>.louti_s2{
                transform: translate(112px);
                color: white;
            }
        }
        &>span{
            position: absolute;
            white-space: nowrap;
            top: 0;
            transition: all 1s;
        }
        &>.louti_s1{
            left: 0;
            transition: all 1s;
            text-align: center;
            width: 100%;
            
        }
        &>.louti_s2{
                right: 30px;
                display: block;
                background: sienna;
        }
        &.last_louti{
            border-bottom: none;
        }
    }
}

